{% extends "base.html" %} {% block body %}
<section
  style="height: 80vh"
  class="container is-max-desktop is-flex is-flex-direction-column is-justify-content-center px-5"
>
  <div class="content">
    <h1>About Us - WorkHunt</h1>
    <h2>Welcome to WorkHunt</h2>
    <p>
      WorkHunt is your trusted partner in finding the perfect job or talent for
      your organization. With a mission to connect job seekers with their dream
      careers and employers with top-tier candidates, we've been facilitating
      successful job matches since our inception.
    </p>
    <h2>Our Mission</h2>
    <p>
      Our mission at WorkHunt is to make the job search process as efficient and
      effective as possible. We strive to provide a platform where job seekers
      can explore a wide range of opportunities and employers can discover the
      best talent. We are committed to creating a bridge between talent and
      organizations to help both achieve their goals.
    </p>

    <h2>Why Choose WorkHunt?</h2>
    <ul>
      <li>
        Extensive Job Listings: We offer a vast database of job listings across
        various industries and locations.
      </li>
      <li>
        Advanced Matching Algorithms: Our advanced algorithms ensure that job
        seekers find roles that match their skills and preferences.
      </li>
      <li>
        Top-notch Candidates: Employers can access a pool of highly qualified
        and motivated candidates.
      </li>
      <li>
        User-Friendly Interface: Our platform is designed for ease of use,
        making the job search process straightforward.
      </li>
    </ul>
  </div>
</section>
{% endblock %}
