{% extends "base.html" %} {% block body %}
<section style="height: 70vh; width: 600px" 
  class="container is-max-desktop is-flex is-flex-direction-column is-justify-content-center px-5">
  {% if login_message %}
  <div class="notification">{{ login_message }}</div>
  {% endif %}
  <form action="{{ url_for('login') }}" method="POST">
    <div class="field">
      <label class="label is-medium">Username</label>
      <div class="control">
        <input
          class="input is-medium"
          type="text"
          name="username"
          placeholder="ElliotAlderson"
        />
      </div>
    </div>
    <div class="field">
      <label class="label is-medium">Password</label>
      <div class="control">
        <input class="input is-medium" type="password" name="password" placeholder="******" />
      </div>
    </div>
    <div class="control">
      <button class="button is-primary mt-5 is-medium" type="submit" style="width: 100%">Login</button>
    </div>
</form>
</section>
{% endblock %}
